<html>
<head>
<title>Spec Classify - Browser</title>
</head>
<body>

<center>
<img src="http://sclassify.cunnyngham.net/media/rasterspectra/e3d_{{ meas.observation.filename }}_17_{{ wL }}_cube/e3d_{{ meas.observation.filename }}_17_{{ wL }}_cube_{{x}}_{{y}}.jpg" width='60%' height='60%' />
<form name='conf' action='/classify/' method='post'>
<input type='hidden' name='pk' value='{{meas.pk}}' >
<input type='radio' name='score' value='1' onClick="document.conf.submit()" />Yes
<input type='radio' name='score' value='0' onClick="document.conf.submit()" />No
<input type='radio' name='score' value='-1' onClick="document.conf.submit()" />Maybe
</form>
</center>

</body>
</html>
